@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

/* Self-hosted Lausanne font */
@font-face {
  font-family: font1;
  src: url(./fonts/Lausanne-300.woff2);

}

@font-face {
  font-family: font2;
  src: url(./fonts/Lausanne-500.woff2);
}

body {
  background-color: #111;
  overflow-x: hidden;
}



/* Font utility classes */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-jetbrains {
  font-family: var(--font-jetbrains);
}





/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px;
  /* scrollbar width */
  height: 6px;
  /* scrollbar height for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #fff;
  /* track background */
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  /* scrollbar color */
  border-radius: 10px;
  /* rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  /* hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* makes scrollbar thin */
  scrollbar-color: #555 transparent;
  
}


/* Custom text selection color */
::selection {
  background: #D3FD50;
  /* highlight background */
  color: #000;
  /* selected text color */
}

/* For Firefox specifically */
::-moz-selection {
  background: #D3FD50;
  color: #000;
}



.n {
  color: transparent;                /* Fill */
  -webkit-text-stroke: 1px white; /* Stroke around each letter */
  paint-order: stroke fill; 
  color: transparent;   /* Ensures stroke is visible */
}
