@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

/* Self-hosted Lausanne font */
@font-face {
  font-family: font1;
  src: url(../fonts/Lausanne-300.woff2);

}

@font-face {
  font-family: font2;
  src: url(../fonts/Lausanne-500.woff2);
}
@font-face {
  font-family: font3;
  src: url(../fonts/The_Last_Shuriken.ttf);
}
@font-face {
  font-family: font4;
  src: url(../fonts/Storm_Gust.ttf);
}
@font-face {
  font-family: aeonik1;
  src: url(../fonts/Aeonik-Regular.ttf);
}
@font-face {
  font-family: aeonik2;
  src: url(../fonts/Aeonik-Bold.ttf);
}

body {
  background-color: #111;
  overflow-x: hidden;
}



/* Font utility classes */
.font-poppins {
  font-family: var(--font-poppins);
}

/* Base font-family */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Weight utilities */
.font-poppins-100 { font-weight: 100; }
.font-poppins-200 { font-weight: 200; }
.font-poppins-300 { font-weight: 300; }
.font-poppins-400 { font-weight: 400; }
.font-poppins-500 { font-weight: 500; }
.font-poppins-600 { font-weight: 600; }
.font-poppins-700 { font-weight: 700; }
.font-poppins-800 { font-weight: 800; }
.font-poppins-900 { font-weight: 900; }


.font-jetbrains {
  font-family: var(--font-jetbrains);
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

/* Weight utilities */
.font-inter-100 { font-weight: 100; }
.font-inter-200 { font-weight: 200; }
.font-inter-300 { font-weight: 300; }
.font-inter-400 { font-weight: 400; }
.font-inter-500 { font-weight: 500; }
.font-inter-600 { font-weight: 600; }
.font-inter-700 { font-weight: 700; }
.font-inter-800 { font-weight: 800; }
.font-inter-900 { font-weight: 900; }





/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px;
  /* scrollbar width */
  height: 6px;
  /* scrollbar height for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #fff;
  /* track background */
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  /* scrollbar color */
  border-radius: 10px;
  /* rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  /* hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* makes scrollbar thin */
  scrollbar-color: #ffffff transparent;
  
}


/* Custom text selection color */
::selection {
  background: #000000;
  /* highlight background */
  color: #ffffff;
  /* selected text color */
}

/* For Firefox specifically */
::-moz-selection {
  background: #D3FD50;
  color: #000;
}



.n {
  color: transparent;                
  -webkit-text-stroke: 1px white;    
  paint-order: stroke fill;
  transition: color 0.3s ease;       
}

.n:hover {
  color: wheat;                      
}

.m {
  color: transparent;                /* Fill */
  -webkit-text-stroke: 1px black; /* Stroke around each letter */
  paint-order: stroke fill; 
  color: transparent;   /* Ensures stroke is visible */
}
